@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body {
    overflow-x: hidden;
    background-color: white;
    color: black;
    letter-spacing: -0.05em;
}
#transition-container.black-ani {
    background-color: rgb(41 40 40);
    color:white;
    transition: background-color 1s ease !important;
}
#transition-container.little-yellow {
    background-color: #fffdf9 !important;
    color:black;
    transition: background-color 1s ease;
}
.container {
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}
.sticky-elem {
    display:none;
	position: fixed;
	left: 0;
	width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem,
#show-scene-5 #scroll-section-5 .sticky-elem{
    display: block;
}
.sticky-elem-canvas {
    top: 0;
    
}
.scroll-section-0{
    /* border: 1px solid red; */
    position: relative;
    padding-top: 50vh;
}
#scroll-section-0 {
    position: relative;
	padding-top: 50vh;
}
/* 까만 기둥 안보이게 */
#scroll-section-0 {
    background: white;
}
#scroll-section-0 .project_title{
    position: relative;
	top: -10vh;
	z-index: 5;
	font-size: 4rem;
    text-align: center;
    font-weight: bold;

}
#scroll-section-0 .portfolio_name{
    font-size: 2rem;

}
.main-message {
    top: 30vh;
    left:10vw;
	margin: 5px 0;
	height: 3em;
    font-size: 2.5rem;
    opacity:0;
}
.main-message p {
	font-weight: bold;
	line-height: 1.2;
}
.main-message small {
    display: block;
	margin-bottom: 0.5em;
	font-size: 1.2rem;
}
.sticky-elem-canvas {
    height:100%;
    top:0;    
}
.sticky-elem-canvas canvas{
    position: absolute;
    top: 50%;
	left: 50%;
}
#scroll-section-1 {
    padding-top: 35vh;
}
#scroll-section-2 {
    padding-top: 10vh;
}
#scroll-section-4 {
    padding-top: 20vh;
} 
.transition {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.transition-message h3 {
    font-family: 'Do Hyeon','Black Han Sans', sans-serif;
    font-size: 2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#scroll-section-3 {
    padding-top: 40vh;
}
#scroll-section-3 .transition-message h3 {
    color: #8c440f;
} 
#scroll-section-3 .transition-message p {
    color: #5d5b5b;
}
.transition-message p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    line-height: 2.3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tarnsition.b h3 {
    text-align: center;
}
.morning-img-container, .work-img-container {
    display:flex;
    justify-content: center;
    align-items: center;
}
#scroll-section-4 {
    transition: background-color 1s linear !important;
    background-color: #f9f3e4;
}
.work-img-container {
    margin-top: 10vh;
}
.transition img {
    border:0px;
    width: 70%
}
.pin {
	width: 1px;
	height: 100px;
	background: rgb(29, 29, 31);
} 
.desc-message {
    line-height: 1.5;
    font-size: 1rem;
    width: 225px;
    font-weight: bold;
    opacity: 0;
}
#scroll-section-5 .main-message {
    padding:0;
    text-align: center;
    top: 15vh;
    left: 0;
    font-size: 2.2rem;
}
#scroll-section-5 .b {
	top: 10%;
	left: 40%;
}
#scroll-section-5 .c {
	top: 12%;
	left: 20%;
}
#scroll-section-6 {
    padding: 13vh 0;
    background-color: #fbf8f5;
}
#scroll-section-6 h3 {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    font-size: 2rem;
}
.introduce-projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce-projects {
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}
.introduce-message {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-container {
    padding:2.5rem;
    margin:0.5rem;
    width: 300px;
} 
.project-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce-message a {
    display: block;
    text-align: center;
    line-height: 3em;
    color:#007cff;
    text-decoration: none;
    /* z-index:12; */
    z-index: 50;
    position: relative
}


@media (min-width: 1024px) {
    .transition {
        padding: 10vw 10vw;
    }
    .transition-message h3 {
        font-size: 4vw;
        width:100%
    }
    #scroll-section-0 h1 {
		font-size: 9vw;
    }
    #scroll-section-5 .c {
        left: 30%;
    }
    #scroll-section-5 .main-message, #scroll-section-6 h3  {
        font-size: 3vw;
    }
}