@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
}
.container {
  background-color: #f2f2f2;
  padding-bottom: 50vh;
}
.project-container {
  overflow-x: hidden;
  padding-top: 20vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  gap: 1rem;
  justify-content: center;
}
.project {
  position: relative;
  padding: 1.5rem;
}
.project-name,
.nav-links a {
  font-family: "Noto Sans KR", sans-serif;
}
.project img {
  border: 1px solid #d2d2d2;
}
.projects-message div,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-message div {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
}
.projects-message p {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  line-height: 2;
}
.projects-message h3 {
  font-family: "Do Hyeon", sans-serif;
  border-bottom: 1px #292929 solid;
  padding-left: 4rem;
  padding-right: 4rem;
}
.project p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.project a {
  text-decoration: none;
  color: black;
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .grid-container {
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }
  .image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  .image img {
    min-width: 300px;
    max-width: 500px;
  }
}
